{% extends 'Proyecto/base.html' %}

{% block header %}
Sobre el Alumno
{% endblock header %}

{% block main %}
    <h2>Acerca del Alumno</h2>
    <p>Nombre: Paula Mitzy Ortiz Zabala</p>
    <p>Fecha de Nacimiento: 11/11/1997</p>
    <p>Carrera: Ingeneria de Sistemas</p>
    <p>Universidad: Universidad Tecnologica Privada de Santa Cruz (UTEPSA)</p>
    <p>Correo Electrónico: mitzyortizzabala@gmail.com</p>
    <p>Descripción: Soy una estudiante interesada en las areas de Analisis de Datos, Ciencias de Datos y Programacion,
        actualmente trabajo en PedidosYa en el area de BI ejerciendo el cargo de Analista de Datos, llevo 5 años trabajando en esta compañia
        y me ha ayudado a seguir desarrollandome como profesional. Me anime a entrar a CoderHouse, gracias al convenio que tiene PedidosYa con Coder, ha sido una gran oportunidad
        aprender con grandes profesores de la academia que llevan muchos años de experiencia en el rubro.</p>
{% endblock main %}
