{% extends 'Proyecto/base.html' %}

{% block header %}
Pedido: Eliminar
{% endblock header %}

{% block main %}
<h2>¿Estás seguro que deseas eliminar este pedido?</h2>
<p>
    Producto: {{ pedido.producto }}<br>
    Cliente: {{ pedido.cliente }}<br>
    Fecha de Entrega: {{ pedido.fecha_entrega | date:"d/m/Y" }}<br>
    Estado: {{ pedido.estado }}
</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Eliminar</button>
    <a href="{% url 'pedido_list' %}">Cancelar</a>
</form>
{% endblock main %}