{% extends 'Proyecto/base.html' %}

{% block header %}
Producto: Registros
{% endblock header %}

{% block main %}
    <button>
        <a href="{% url 'producto_create' %}"> Crear Registro</a>
    </button>
    
    <ul>
    {% for object in object_list %}
        <li>
            <p>{{ object.nombre | upper }} - Bs.{{ object.precio }}</p>
            <a href="{% url 'producto_update' object.pk %}">Editar</a> |
            <a href="{% url 'producto_delete' object.pk %}">Eliminar</a>
        </li>
    {% empty %}
        <p>No hay registros.</p>
    {% endfor %}
    </ul>
{% endblock main %}
